Css stands for Cascading Style sheets.
It gives design to your website.
Css has three main parts - Selector, property, value
Selector is what you style. Eg- <div> <p> .class
Property is the thing you want to change in an element, like text font or background color.
Important properties are color font-size, font-family, width, height, padding, margin, border, box-sizing, flexbox, background-color, border-radius, box-shadow
Value is how much to change
Classes are most commonly used in Css.
